[submodule "soundverse-fe"]
	path = soundverse-fe
	url = git@github.com:subvisual/CosmicWave-fe.git
[submodule "CosmicWave-server"]
	path = CosmicWave-server
	url = git@github.com:subvisual/CosmicWave-server.git
[submodule "CosmicWave-fe"]
	path = CosmicWave-fe
	url = git@github.com:subvisual/CosmicWave-fe.git
